.header-base {
  height: 100px;
  background-color: gray;
  display: flex;
  align-items: center;
}

.header-base button {
  height: 50%;
  margin-left: 30px;
  width: 100px;
}

.product-base {
  margin: 0 30px;
}

.product-base .product-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.product-table table {
  width: 100%;
}

.product-table table thead tr,
.product-table table tbody tr {
  text-align: left;
}


.product-table table thead tr th:last-child,
.product-table table tbody tr td:last-child {
  text-align: right;
}

.dialog-base {
  position: absolute;
  background: rgba(7, 8, 9, 0.476);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-base .window {
  height: 50%;
  width: 40%;
  min-height: 500px;
  min-width: 400px;
  background-color: white;
}

.add-cart-base .window {
  height: 30%;
  min-height: 300px !important;
}

.highlight {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.dialog-base .window .header {
  font-size: 25px;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

.dialog-base .window .body {
  height: calc(100% - 50px);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dialog-base .data-row {
  display: flex;
  align-items: center;
}

.dialog-base .btn-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dialog-base .btn-row > button {
  padding: 10px;
  width: 120px;
}

.dialog-base .data-row .label {
  flex: 1;
}

.dialog-base .data-row .divider {
  flex: 3;
}

.dialog-base .data-row .input-div {
  flex: 4;
  text-align: right;
}

.dialog-base .data-row .input-div > input {
  width: 80%;
  height: 30px;
}
